*{
	padding: 0px;
	margin: 0px;
}
#header{
	z-index: 1;
}
.icon{
	font-size: 20px;
}
.dropdown img{
	width: 30px;
	height: 30px;
	border-radius: 15px;
}
.button{
	background: none;
	border: none;
}
.btnUpload{
	width: 75px;
	overflow: visible;
}
textarea{
	border: none;
	background: none;
	resize: none;
	width: 100%;
}
.thumbnail img{
	width: 50px;
	height: 50px;
	border-radius: 25px;
}
.box{
	background: #EEEEEE;
	border-radius: 5px;
}
video{
	width: 100%;
	height: 100%;
}
.text{
	font-size: 10px;
}
.bottom{
	width: 100%;
}
.bottom button{
	background: none;
	border: none;
	width: 30px;
	height: 30px;
}
.bottom .bt{
	width: 33%;
	overflow: hidden;
}
.bottom button:hover{
	background: #CCCCCC;
}
.account{
	border-radius: 5px;
	transform: translateY(10%);
	opacity: .7;
}
.register{
	border-radius: 5px;
	transform: translateY(50%);
	opacity: .7;
}
.input{
	background: none;
}
.login{
	height:651px;
}
.content{
	height: 519px;
	overflow-y:scroll;
}
::-webkit-scrollbar{
	width: 5px;
}
::-webkit-scrollbar-thumb{
	border-radius: 5px;
	background: grey;
}

.display img{
	width: 100%;
	height: 460px;
}
.choose{
	width: 150px;
	height: 40px;
	overflow: visible;
}
.morecontent span {
	display: none;
}
.comment{
	display: none;
}
.ip{
	display:none;
}
.textname{
	display:none;
}
.notremove{
	display:none;
}
.noneNoti{
	display:none;
}
.notification{
	position: relative;
}
.bager{
	background: red;
	color: white;
	font-size: 10px;
	padding: 1px 2px;
	border-radius: 50%;
	position: absolute;
	top: 1px;
	left: 15px;
}
.formnone{
	display:none;
}
.acol{
	height: 100px;
	line-height: 100px;
	font-size:20px;
	font-weight:bold;
}
.col-right{
	height: 585px;
	overflow-y:scroll;
}
td img{
	width:50px;
	height:50px;
}
.mg{
	float:left;
	margin-top:10px;
	margin-left:7%;
}
.abt{
	width: 20%;
	overflow: hidden;
	
}
.atext{
	width:100%;
	height:70px;
	overflow-y:scroll;
}
.avideo video{
	width:100%;
	height:300px;
}
@media only screen and (max-width: 767px){
	
	video{
		width: 100%;
		height: 300px;
		background: #000000;
	}
	.profileImg img{
		width: 200px;
		height: 200px;
		border-radius: 100px;
	}

	.side-bar{
		display: none;
	}
}
@media only screen and (min-width: 768px) and (max-width: 1023px){
	
	video{
		width: 100%;
		height: 470px;
		background: #000000;
	}
	.profileImg img{
		width: 100px;
		height: 100px;
		border-radius: 50px;
	}
	.side-bar{
		display: none;
	}
}
@media only screen and (min-width: 1024px){
	
	video{
		width: 100%;
		height: 470px;
		background: #000000;
	}
	.profileImg img{
		width: 150px;
		height: 150px;
		border-radius: 75px;
	}

	.side-bar{
		display: block;
	}
}